<!DOCTYPE html>
<html lang="en-US">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>chat-page</title>

    <link rel="stylesheet" href="/css/chatpage.css">

    

    <!-- this stuff is for the emojis -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous">
        </script>
    <link rel="stylesheet" href="/emoji/emojionearea.min.css">
    <script type="text/javascript" src="/emoji/emojionearea.min.js"></script>
    <script type="text/javascript" src="/emoji/emojis.js"></script>

    <!-- for socket.io client side -->
    <script src="https://cdn.socket.io/4.4.0/socket.io.min.js"
        integrity="sha384-1fOn6VtTq3PWwfsOrk45LnYcGosJwzMHv+Xh/Jx5303FVOXzEnw0EpLv30mtjmlj"
        crossorigin="anonymous"></script>
    <script type="module" src="/js/client-socket.js"></script>

</head>


<body>
    <button onclick="window.location.href='/'">Home</button>

    <div class-"app">

    <h1 class="center" >EZMessage</h1>
    <div id="message-container"></div>

    <div class="center">
    <form id="form-data">

    <input class ="input center" id="text-input" value="" >

    <button class="btn" type="submit" id="send-button">Send</button>
    </form>
    </div>
    </div>

</body>


</html>