<!doctype html>
<html lang="en-US">


<head>
    <title>EZMessage Credits Page</title>
    <link rel="stylesheet" href="/css/credits.css">
</head>


<body>
    <button onclick="document.location='/homepage'">Home</button>
    <h1>EZMessage Credits</h1>
    <div style="display: inline-block; text-align: left;">
        <p class="split-para">home page<span>diya</span></p>    
        <p class="split-para">credit page<span>paula</span></p> 
        <p class="split-para">login page<span>steve</span></p>  
    </div> 
</body>

