<!doctype html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EZMessage Credits Page</title>
    <link rel="stylesheet" href="/css/credits.css">
</head>


<body>

    <h1>EZMessage Credits</h1>

   
    <div class="divTable" style="width: 50%; border: 3px solid #000;">
        <div class="divTableBody">

            <div class="divTableRow">
                <div class="divTableCell">Name:</div>
                <div class="divTableCell">Worked on:</div>
            </div>

            <div class="divTableRow">
                <div class="divTableCell">diya</div>
                <div class="divTableCell">Home Page</div>
            </div>

            <div class="divTableRow">
                <div class="divTableCell">paula</div>
                <div class="divTableCell">Credit Page</div>
            </div>

            <div class="divTableRow">
                <div class="divTableCell">steve</div>
                <div class="divTableCell">Login Page</div>
            </div>

            <div class="divTableRow">
                <div class="divTableCell">Adrian</div>
                <div class="divTableCell">Over all help</div>
            </div>

            <div class="divTableRow">
                <div class="divTableCell">Mariela</div>
                <div class="divTableCell">Some help</div>
            </div>

        </div>
    </div>
  

    <button class="btn" onclick="window.location.href='/'"> Home </button>


</body>

</html>
