<!doctype html>
<html lang="en-US">


<head>
    <title>EZMessage Home Page</title>

    
    <link rel="stylesheet" href="/css/homepage.css">
</head>


<body>
    <div class="container">
        <class class="titular">		
            
            <button class="btntop">Login</button>
            <p class="tagline">EZMessage</p> </class>
            
            <button class="btn">Get Started</button>
        </div>
        <div class="context">
            <br/><br/>

            <center><p class="line"></p></center>
            <p>An application that will allow a user to be able to log in and out,
                view when other users are online or offline, and send and recieve
                messages that will show a time stamp of when it was sent. <br/>Messages that a user will be able to send will include emojis.
                A user will be able to create set times to send premade messages
                and a user will be able to delete previously sent messages.</p>
            
            
        </div>
        
        <div class="area" >
            <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li> 
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div >
        
        <div class="gallery">
            <h1>Explore all possibilities...</h1>
            <div class="grid">

                <img src ="https://image.freepik.com/free-photo/member-log-membership-username-password-concept_53876-101284.jpg"/>
                <img src ="https://image.freepik.com/free-vector/send-email-concept_24908-60314.jpg"/>
                <img src = "https://image.freepik.com/free-vector/whatsapp-emoji_1057-1534.jpg"/>
                <img src ="https://as2.ftcdn.net/v2/jpg/00/79/46/19/500_F_79461939_Xt6FNfV0FnHwiIY8ko5nsrzlno8dQQCo.jpg"/>
            </div>	
            <footer class="footer_banner">
            </footer>
    </div>
</body>

