<!DOCTYPE html>
<html lang="en-US">

<!--
  https://www.w3schools.com/html/html_forms.asp - uses the form to send data 
 
-->

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>EzMessage Login</title>

  <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js" defer></script>
  <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js" defer></script>
  <script src="/js/login.js"></script>

  <link rel="stylesheet" href="/css/login.css">
</head>

<body>

  <div class="main">

    <p class="sign">Sign in</p>

    <!-- later  this from will need a method="post" -->
    <form class="login" id="login">

      <input class="un " type="text" name="login" placeholder="Username">
      <input class="pass" type="password" name="password" placeholder="Password">
      <button class="submit" text-font="40%">Submit</button>
      <!-- <button class="submit" onclick="window.location.href='/chat'" text-font="40%">Submit</button>-->
      <p class="forgot"><a href="#forgot">Forgot Password?</a></p>



    </form>

  </div>

</body>

</html>