body {
    font-family: sans-serif;
    text-align:center;
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
    top: 20%;
    transform: translateY(-50%);
    text-align:center;
}

h1 {    
    font-size: 40px;
    color:darkslategrey;
}

.split-para{ 
    display:block;
    margin-top: 0em;
    margin-bottom: 0em;}
    
.split-para span{ 
    display:block;
    float:right;
    width:10%;
    margin-left:5em;
    margin-top: 0em;
    margin-bottom: 0em;}
