body { 
  font-family: sans-serif;
  text-align: center;
}

.btn {
	font-size: 18px;
	font-weight: 400;
	font-family: Bahnschrift;
	color: green;
	border: none;
	border-radius: 5px;
	position: absolute;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
	padding: 12px 25px;
  cursor: pointer;
	background-color: rgb(0,35,51);
}

h1 {    
  text-align: center;
  font-size: 40px;
  color:darkslategrey;
}


/* DivTable.com */
.divTable{
  margin-left: auto;
  margin-right: auto;
	display: table;
	width: 100%;
  background-color: rgb(91, 150, 206);
}

.divTableRow {
	display: table-row;
  
}

.divTableHeading {
	background-color: rgb(18, 20, 116);
	display: table-header-group;
}

.divTableCell, .divTableHead {
	border: 1px solid #0cca0c;
	display: table-cell;
	padding: 3px 10px;
}

.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}

.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}

.divTableBody {
	display: table-row-group;
}